.headerimage{
    position: absolute;
    left:50vw;
    top:3.475vh;
    transform: translate(-55%,0);
    width: 76.74vw;

}
header{
    position:absolute;
    top:0;
    background-color: black;
   
    justify-content: center;
    
}