.jeus {
    animation: sizeChange 8s infinite ease;
    width: 30%;
    position: absolute;
    top: 0%;
    left: 10%;
    z-index: 4;
}
.aphrodite {
    animation: sizeChange 15s infinite ease;
    width: 30%;
    position: absolute;
    top: 10%;
    left: 60%;
    z-index: 4
}

.icarus {
    animation: sizeChange 7s infinite ease;
    width: 42%;
    position: absolute;
    top: 35%;
    left: 10%;
    z-index: 3;
}



.athens {
    animation: sizeChange 9s infinite ease;
    width: 40%;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 0;
}

.Applo {
    animation: sizeChange 6s infinite ease;
    width: 45%;
    position: absolute;
    top: 64%;
    left: 0%;
    z-index: 1;
}
.eros {
    animation: sizeChange 10s infinite ease;
    width: 35%;
    position: absolute;
    top: 60%;
    left: 60%;
    z-index: 3;
}

@keyframes sizeChange {

    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.0);
    }
}